html,
body {
    color: black;
    width: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    justify-content: center;
    align-items: center;
}

#chart {
    box-shadow: 10px 10px;
    border: 1px solid black;
    width: 1850px;
    height: 750px;
    color: black;
}

#error {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px red;
    border: 1px solid red;
    width: 1850px;
    height: 400px;
    background-color: #ffd3da;
    display: none;
}

.info {
    border-left: 10px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.flex-item {
    color: black;
    text-align: left;
    padding: 1em;
}

a {
    color: #67809f;
}