<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v5.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div class="flex-container">
        <div class="flex-item">
			<div class="info">
				<h1>{{ symbol or 'MSFT' }}</h1>
				<p>Displaying data from the past year.</p>
			</div>
            <div id="chart">

            </div>
			<div id="error">

            </div>
        </div>
    </div>
    <script src="/static/js/chart.js"></script>
    <script>loadData("{{ symbol or 'MSFT' }}");</script>
</body>